.boxes {
    border: 2px solid darkslateblue;
    border-radius: 8px;
    background-color: lightskyblue;
    color: black;
    width: 1200px;

}

.mainheading {
    text-align: center;
    color: rgb(16, 2, 29);
}

.code {
    font-size: 1.3em;
    width: 90%;
}


#flexContainer {
    display: flex;
    flex-direction: row;

}

.flexItmes {
    background-color: black;
    margin: 4px 4px;
    border: 2pxc solid black;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.boxes:hover{
    box-shadow:0.5px 0.5px 30px black;
    transform: translateY(10px);
}
.boxes{
    transition: all 1s;
}
